<template name="home">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Open Career Hunt</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding">
                <p class="text-center">Helping youth make career decisions with data from the government's open data system.</p>
                <img width="100%" src="/home_image.jpg" alt="Find your career today!"/>
                <small class="pull-right">
                    Image courtesy of <a href="view_photog.php?photogid=4096">stockimages</a> at
                    <a href="http://www.FreeDigitalPhotos.net">FreeDigitalPhotos.net</a>
                </small>
            </div>
            <div class="padding-top">
                <a href="{{pathFor 'industrySelector'}}" class="button button-full button-outline button-positive">Get Started Now!</a>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>