<template name="industrySelector">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Pick An Industry</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <span id="search-button" class="button button-clear">
            {{> ionIcon icon="search" }}
        </span>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#ionItem}}
                    <div class="item-input-wrapper">
                        <input type="search" placeholder="Search..." id="industry-filter">
                    </div>
                {{/ionItem}}
                {{#each industries}}
                    {{#ionItem path="industryGraph" buttonRight=true avatar=true class="item-icon-right"}}
                        {{industry}}
                        {{> ionIcon icon="ios-arrow-forward" class="positive"}}
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>