<template name="industryGraph">
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{industry}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        <a class="button button-clear" href="{{pathFor 'main'}}">{{> ionIcon icon="ios-arrow-left"}}</a>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="padding">
                <p>The following graph shows employment rates in the industry.</p>
                <div id="chart"></div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>