<template name="main">
    <a href="/sign-in">Sign In</a>
    <a href="/sign-up">Sign Up</a>

    <table>
        <thead>
        <tr>
            <th>Ref_Date</th>
            <th>GEO</th>
            <th>SEAS</th>
            <th>EST</th>
            <th>Vector</th>
            <th>Coordinate</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {{#each rows}}
        <tr>
            <td>{{Ref_Date}}</td>
            <td>{{GEO}}</td>
            <td>{{SEAS}}</td>
            <td>{{EST}}</td>
            <td>{{Vector}}</td>
            <td>{{Coordinate}}</td>
            <td>{{Value}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>